



<nav aria-label="Navegação de páginas">
  <ul class="pagination">
    
    @if(pages().previousActive) {
        <li class="page-item">
            <a class="page-link" [routerLink]="pages().ways.wayPrevious">Anterior</a>
        </li>
    } @else {
        <li class="page-item disabled" aria-disabled="true">
            <a class="page-link">Anterior</a>
        </li>
    }

    <li class="page-item active" aria-current="page">
        <a class="page-link" [routerLink]="pages().ways.wayCurrent">
            {{ pages().pageNumber }}
        </a>
    </li>

    @if(pages().nextActive) {
        <li class="page-item">
            <a class="page-link" [routerLink]="pages().ways.wayNext">Próximo</a>
        </li>
    } @else {
        <li class="page-item disabled" aria-disabled="true">
            <a class="page-link">Próximo</a>
        </li>
    }
    
  </ul>
</nav>




<!-- <nav aria-label="...">
  <ul class="pagination">
    <li class="page-item"><a href="#" class="page-link">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item active">
      <a class="page-link" href="#" aria-current="page">2</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav> -->
