<div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
  <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
    <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
    <span class="fs-5 fw-semibold">Nome do Projeto</span>
  </a>
  <ul class="list-unstyled ps-0">
    @for(item of sideBarConfig(); track $index) {
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" [attr.data-bs-target]="`#collapse-${item.name}`" aria-expanded="false">
          {{item.name}}
        </button>
        <div class="collapse" [id]="`collapse-${item.name}`">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            @for(itemChild of item.child; track $index) {
              <li><a [href]="itemChild.way" class="link-dark rounded">{{itemChild.name}}</a></li>
            }
          </ul>
        </div>
      </li>
    }
  </ul>
</div>